// ==================================================================
// Variables / Radius
// ==================================================================

:root {
  --radius-xs: 0.25rem;
  --radius-s: 0.5rem;
  --radius-m: 1rem;
  --radius-l: 1.5rem;
  --radius-xl: 2rem;
  --radius-2xl: 3rem;
}
