@use "../1-variables/" as *;
@use "../2-tools" as *;

// ==================================================================
// Styles / Text / Copy
// ==================================================================

// ==================================================================
// Text Copy Base Style
// ==================================================================

.text-copy {
  font-size: var(--size-0);
  color: #666;

  // ==================================================================
  // Text Copy Modifier Styles
  // ==================================================================

  &.--s {
    font-size: var(--size--1);
  }

  &.--l {
    font-size: var(--size-1);
  }

  &.--bold {
    font-weight: var(--weight-bold);
  }

  &.--underline {
    text-decoration: underline;
  }
}
