@use "../1-variables/" as *;
@use "../2-tools" as *;

// ==================================================================
// Styles / Text / Copy
// ==================================================================

// ==================================================================
// Copy Base Styles
// ==================================================================

.text-copy-s {
  font-size: var(--size--1);
}

.text-copy {
  font-size: var(--size-0);
}

.text-copy-l {
  font-size: var(--size-1);
}

// ==================================================================
// Copy Modifier Styles
// ==================================================================

.--bold {
  font-weight: var(--weight-bold);
}

.--underline {
  text-decoration: underline;
}
