@use "../1-variables/" as *;
@use "../2-tools" as *;

// ==================================================================
// Components / Footer
// ==================================================================

.c-footer {
  background: red;

  @include bp(md) {
    background: green;
  }

  @include bp(xl) {
    background: blue;
  }
}
