@charset "UTF-8";
/* 
  Written in SCSS to use it in the breakpoint mixin
  (2-tools/responsive)
*/
:root {
  --color-primary: #dadada;
  --color-secondary: #242424;
}

:root {
  --elastic-ease-in: cubic-bezier(0.6, -0.28, 0.735, 0.045);
  --elastic-ease-out: cubic-bezier(0.25, 1.46, 0.45, 1.6);
  --elastic-ease-in-out: cubic-bezier(0.68, -0.55, 0.27, 1.55);
  --bounce-ease-in: cubic-bezier(0.6, -0.28, 0.735, 0.045);
  --bounce-ease-out: cubic-bezier(0.19, 1, 0.22, 1);
  --bounce-ease-in-out: cubic-bezier(0.68, -0.55, 0.27, 1.55);
  --back-ease-in: cubic-bezier(0.36, 0, 0.66, -0.56);
  --back-ease-out: cubic-bezier(0.34, 1.56, 0.64, 1);
  --back-ease-in-out: cubic-bezier(0.68, -0.55, 0.27, 1.55);
  --sine-ease-in: cubic-bezier(0.47, 0, 0.745, 0.715);
  --sine-ease-out: cubic-bezier(0.39, 0.575, 0.565, 1);
  --sine-ease-in-out: cubic-bezier(0.645, 0.045, 0.355, 1);
  --circ-ease-in: cubic-bezier(0.6, 0.04, 0.98, 0.335);
  --circ-ease-out: cubic-bezier(0.075, 0.82, 0.165, 1);
  --circ-ease-in-out: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  --expo-ease-in: cubic-bezier(0.95, 0.05, 0.795, 0.035);
  --expo-ease-out: cubic-bezier(0.19, 1, 0.22, 1);
  --expo-ease-in-out: cubic-bezier(1, 0, 0, 1);
  --power1-ease-in: cubic-bezier(0.165, 0.84, 0.44, 1);
  --power1-ease-out: cubic-bezier(0.55, 0, 0.85, 0.315);
  --power1-ease-in-out: cubic-bezier(0.445, 0.05, 0.55, 0.95);
  --power2-ease-in: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  --power2-ease-out: cubic-bezier(0.55, 0.085, 0.68, 0.53);
  --power2-ease-in-out: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  --power3-ease-in: cubic-bezier(0.33, 0.51, 0.68, 0.98);
  --power3-ease-out: cubic-bezier(0.67, 0.01, 0.83, 0.59);
  --power3-ease-in-out: cubic-bezier(0.645, 0.045, 0.355, 1);
  --power4-ease-in: cubic-bezier(0.5, 0, 0.75, 0.5);
  --power4-ease-out: cubic-bezier(0.25, 0.5, 0.5, 1);
  --power4-ease-in-out: cubic-bezier(0.76, 0, 0.24, 1);
}

/* font-faces here … */
:root {
  --line-height-2xs: 0.75;
  --line-height-xs: 0.9;
  --line-height-s: 1.2;
  --line-height-m: 1.5;
  --line-height-l: 1.8;
  --line-height-xl: 2.1;
  --line-height-2xl: 2.4;
}

:root {
  --radius-xs: 0.25rem;
  --radius-s: 0.5rem;
  --radius-m: 1rem;
  --radius-l: 1.5rem;
  --radius-xl: 2rem;
  --radius-2xl: 3rem;
}

/* @link https://utopia.fyi/type/calculator?c=320,18,1.125,1240,18,1.333,6,1,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
:root {
  --size--1: clamp(0.844rem, 1.0543rem + -0.2714vw, 1rem);
  --size-0: clamp(1.125rem, 1.225rem + 0vw, 1.25rem);
  --size-1: clamp(1.2656rem, 1.1842rem + 0.407vw, 1.4996rem);
  --size-2: clamp(1.4238rem, 1.2238rem + 1.0003vw, 1.999rem);
  --size-3: clamp(1.6018rem, 1.2321rem + 1.8485vw, 2.6647rem);
  --size-4: clamp(1.802rem, 1.1933rem + 3.0434vw, 3.552rem);
  --size-5: clamp(2.0273rem, 1.0855rem + 4.7087vw, 4.7348rem);
  --size-6: clamp(2.2807rem, 0.8787rem + 7.0101vw, 8.0115rem);
}

/* @link https://utopia.fyi/space/calculator?c=320,25,1.618,1240,42,1.618,5,2,&s=0.75|0.5|0.25,1.5|2|3.5|4.5|7|10,s-l&g=s,l,xl,12 */
:root {
  --space-3xs: clamp(0.375rem, 0.2663rem + 0.5435vw, 0.6875rem);
  --space-2xs: clamp(0.8125rem, 0.6386rem + 0.8696vw, 1.3125rem);
  --space-xs: clamp(1.1875rem, 0.9049rem + 1.413vw, 2rem);
  --space-s: clamp(1.5625rem, 1.1929rem + 1.8478vw, 2.625rem);
  --space-m: clamp(2.375rem, 1.8315rem + 2.7174vw, 3.9375rem);
  --space-l: clamp(3.125rem, 2.3859rem + 3.6957vw, 5.25rem);
  --space-xl: clamp(5.5rem, 4.2174rem + 6.413vw, 9.1875rem);
  --space-2xl: clamp(7.0625rem, 5.4103rem + 8.2609vw, 11.8125rem);
  --space-3xl: clamp(10.9375rem, 8.3505rem + 12.9348vw, 18.375rem);
  --space-4xl: clamp(15.625rem, 11.9293rem + 18.4783vw, 26.25rem);
}

:root {
  --speed-faster: 0.1s;
  --speed-fast: 0.3s;
  --speed-normal: 0.5s;
  --speed-slow: 0.8s;
  --speed-slower: 1s;
}

:root {
  --transition-alpha: var(--speed-fast) var(--power1-ease-out);
}

:root {
  --weight-light: 300;
  --weight-normal: 400;
  --weight-medium: 500;
  --weight-semibold: 600;
  --weight-bold: 700;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/
* {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -ms-text-size-adjust: 100%; /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%; /* 1 */
  margin: 0; /* 2 */
  vertical-align: baseline; /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type=search] {
  -webkit-appearance: textfield; /* 1 */
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto; /* 1 */
  vertical-align: top; /* 2 */
}

/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  display: block;
  max-width: 100%;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

::selection {
  color: var(--color-primary);
  background: var(--color-secondary);
}

body > *,
body > * > *,
body > * > * > *,
body > * > * > * > *,
body > * > * > * > * > *,
body > * > * > * > * > * > * {
  outline: 1px solid rgba(255, 0, 0, 0.25);
}

body {
  color: var(--color-primary);
  background: var(--color-secondary);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.l-section {
  --default-margin-y: 2rem;
  margin: var(--default-margin-y) 0;
}

.l-container {
  --default-column-gap: var(--space-xs);
  --default-row-gap: var(--space-3xs);
  --default-columns: 12;
  display: grid;
  column-gap: var(--default-column-gap);
  row-gap: var(--default-row-gap);
  grid-template-columns: repeat(var(--default-columns), 1fr);
  margin-left: auto;
  margin-right: auto;
  max-width: 130 0px;
}

.l-block {
  grid-column: span 12;
}

[data-col*=col1] {
  grid-column: span 1/span 1;
}

[data-col*=col2] {
  grid-column: span 2/span 2;
}

[data-col*=col3] {
  grid-column: span 3/span 3;
}

[data-col*=col4] {
  grid-column: span 4/span 4;
}

[data-col*=col5] {
  grid-column: span 5/span 5;
}

[data-col*=col6] {
  grid-column: span 6/span 6;
}

[data-col*=col7] {
  grid-column: span 7/span 7;
}

[data-col*=col8] {
  grid-column: span 8/span 8;
}

[data-col*=col9] {
  grid-column: span 9/span 9;
}

[data-col*=col10] {
  grid-column: span 10/span 10;
}

[data-col*=col11] {
  grid-column: span 11/span 11;
}

[data-col*=col12] {
  grid-column: span 12/span 12;
}

@media (min-width: 768px) {
  [data-col*=md1] {
    grid-column: span 1/span 1;
  }
  [data-col*=md2] {
    grid-column: span 2/span 2;
  }
  [data-col*=md3] {
    grid-column: span 3/span 3;
  }
  [data-col*=md4] {
    grid-column: span 4/span 4;
  }
  [data-col*=md5] {
    grid-column: span 5/span 5;
  }
  [data-col*=md6] {
    grid-column: span 6/span 6;
  }
  [data-col*=md7] {
    grid-column: span 7/span 7;
  }
  [data-col*=md8] {
    grid-column: span 8/span 8;
  }
  [data-col*=md9] {
    grid-column: span 9/span 9;
  }
  [data-col*=md10] {
    grid-column: span 10/span 10;
  }
  [data-col*=md11] {
    grid-column: span 11/span 11;
  }
  [data-col*=md12] {
    grid-column: span 12/span 12;
  }
}
@media (min-width: 1024px) {
  [data-col*=lg1] {
    grid-column: span 1/span 1;
  }
  [data-col*=lg2] {
    grid-column: span 2/span 2;
  }
  [data-col*=lg3] {
    grid-column: span 3/span 3;
  }
  [data-col*=lg4] {
    grid-column: span 4/span 4;
  }
  [data-col*=lg5] {
    grid-column: span 5/span 5;
  }
  [data-col*=lg6] {
    grid-column: span 6/span 6;
  }
  [data-col*=lg7] {
    grid-column: span 7/span 7;
  }
  [data-col*=lg8] {
    grid-column: span 8/span 8;
  }
  [data-col*=lg9] {
    grid-column: span 9/span 9;
  }
  [data-col*=lg10] {
    grid-column: span 10/span 10;
  }
  [data-col*=lg11] {
    grid-column: span 11/span 11;
  }
  [data-col*=lg12] {
    grid-column: span 12/span 12;
  }
}
@media (min-width: 1280px) {
  [data-col*=xl1] {
    grid-column: span 1/span 1;
  }
  [data-col*=xl2] {
    grid-column: span 2/span 2;
  }
  [data-col*=xl3] {
    grid-column: span 3/span 3;
  }
  [data-col*=xl4] {
    grid-column: span 4/span 4;
  }
  [data-col*=xl5] {
    grid-column: span 5/span 5;
  }
  [data-col*=xl6] {
    grid-column: span 6/span 6;
  }
  [data-col*=xl7] {
    grid-column: span 7/span 7;
  }
  [data-col*=xl8] {
    grid-column: span 8/span 8;
  }
  [data-col*=xl9] {
    grid-column: span 9/span 9;
  }
  [data-col*=xl10] {
    grid-column: span 10/span 10;
  }
  [data-col*=xl11] {
    grid-column: span 11/span 11;
  }
  [data-col*=xl12] {
    grid-column: span 12/span 12;
  }
}
[data-col*=full] {
  grid-column: 1/-1;
}

.text-label {
  display: block;
  font-size: var(--size--1);
  line-height: var(--line-height-xs);
  font-weight: var(--weight-bold);
  letter-spacing: 0.125em;
  text-transform: uppercase;
}

.text-copy-s {
  font-size: var(--size--1);
}

.text-copy {
  font-size: var(--size-0);
}

.text-copy-l {
  font-size: var(--size-1);
}

.--bold {
  font-weight: var(--weight-bold);
}

.--underline {
  text-decoration: underline;
}

.text-heading {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: var(--weight-bold);
}

.text-heading-alternative {
  font-family: "Times New Roman", Times, serif;
  font-weight: var(--weight-regular);
}

.--h1 {
  font-size: var(--size-6);
}

.--h2 {
  font-size: var(--size-5);
}

.--h3 {
  font-size: var(--size-4);
}

.--h4 {
  font-size: var(--size-3);
}

.--h5 {
  font-size: var(--size-2);
}

.--h6 {
  font-size: var(--size-1);
  font-weight: var(--weight-regular);
}

.c-footer {
  background: red;
}
@media (min-width: 1024px) {
  .c-footer {
    background: green;
  }
}
@media (min-width: 1536px) {
  .c-footer {
    background: blue;
  }
}

.mt-0 {
  margin-top: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.mt-0 {
  margin-top: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.mt-3xs {
  margin-top: var(--space-3xs);
}

.mb-3xs {
  margin-bottom: var(--space-3xs);
}

.my-3xs {
  margin-top: var(--space-3xs);
  margin-bottom: var(--space-3xs);
}

.mt-2xs {
  margin-top: var(--space-2xs);
}

.mb-2xs {
  margin-bottom: var(--space-2xs);
}

.my-2xs {
  margin-top: var(--space-2xs);
  margin-bottom: var(--space-2xs);
}

.mt-xs {
  margin-top: var(--space-xs);
}

.mb-xs {
  margin-bottom: var(--space-xs);
}

.my-xs {
  margin-top: var(--space-xs);
  margin-bottom: var(--space-xs);
}

.mt-s {
  margin-top: var(--space-s);
}

.mb-s {
  margin-bottom: var(--space-s);
}

.my-s {
  margin-top: var(--space-s);
  margin-bottom: var(--space-s);
}

.mt-m {
  margin-top: var(--space-m);
}

.mb-m {
  margin-bottom: var(--space-m);
}

.my-m {
  margin-top: var(--space-m);
  margin-bottom: var(--space-m);
}

.mt-l {
  margin-top: var(--space-l);
}

.mb-l {
  margin-bottom: var(--space-l);
}

.my-l {
  margin-top: var(--space-l);
  margin-bottom: var(--space-l);
}

.mt-xl {
  margin-top: var(--space-xl);
}

.mb-xl {
  margin-bottom: var(--space-xl);
}

.my-xl {
  margin-top: var(--space-xl);
  margin-bottom: var(--space-xl);
}

.mt-2xl {
  margin-top: var(--space-2xl);
}

.mb-2xl {
  margin-bottom: var(--space-2xl);
}

.my-2xl {
  margin-top: var(--space-2xl);
  margin-bottom: var(--space-2xl);
}

.mt-3xl {
  margin-top: var(--space-3xl);
}

.mb-3xl {
  margin-bottom: var(--space-3xl);
}

.my-3xl {
  margin-top: var(--space-3xl);
  margin-bottom: var(--space-3xl);
}

.mt-4xl {
  margin-top: var(--space-4xl);
}

.mb-4xl {
  margin-bottom: var(--space-4xl);
}

.my-4xl {
  margin-top: var(--space-4xl);
  margin-bottom: var(--space-4xl);
}

/*# sourceMappingURL=main.css.map */
