:root {
  --elastic-ease-in: cubic-bezier(0.6, -0.28, 0.735, 0.045);
  --elastic-ease-out: cubic-bezier(0.25, 1.46, 0.45, 1.6);
  --elastic-ease-in-out: cubic-bezier(0.68, -0.55, 0.27, 1.55);
  --bounce-ease-in: cubic-bezier(0.6, -0.28, 0.735, 0.045);
  --bounce-ease-out: cubic-bezier(0.19, 1, 0.22, 1);
  --bounce-ease-in-out: cubic-bezier(0.68, -0.55, 0.27, 1.55);
  --back-ease-in: cubic-bezier(0.36, 0, 0.66, -0.56);
  --back-ease-out: cubic-bezier(0.34, 1.56, 0.64, 1);
  --back-ease-in-out: cubic-bezier(0.68, -0.55, 0.27, 1.55);
  --sine-ease-in: cubic-bezier(0.47, 0, 0.745, 0.715);
  --sine-ease-out: cubic-bezier(0.39, 0.575, 0.565, 1);
  --sine-ease-in-out: cubic-bezier(0.645, 0.045, 0.355, 1);
  --circ-ease-in: cubic-bezier(0.6, 0.04, 0.98, 0.335);
  --circ-ease-out: cubic-bezier(0.075, 0.82, 0.165, 1);
  --circ-ease-in-out: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  --expo-ease-in: cubic-bezier(0.95, 0.05, 0.795, 0.035);
  --expo-ease-out: cubic-bezier(0.19, 1, 0.22, 1);
  --expo-ease-in-out: cubic-bezier(1, 0, 0, 1);
  --power1-ease-in: cubic-bezier(0.165, 0.84, 0.44, 1);
  --power1-ease-out: cubic-bezier(0.55, 0, 0.85, 0.315);
  --power1-ease-in-out: cubic-bezier(0.445, 0.05, 0.55, 0.95);
  --power2-ease-in: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  --power2-ease-out: cubic-bezier(0.55, 0.085, 0.68, 0.53);
  --power2-ease-in-out: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  --power3-ease-in: cubic-bezier(0.33, 0.51, 0.68, 0.98);
  --power3-ease-out: cubic-bezier(0.67, 0.01, 0.83, 0.59);
  --power3-ease-in-out: cubic-bezier(0.645, 0.045, 0.355, 1);
  --power4-ease-in: cubic-bezier(0.5, 0, 0.75, 0.5);
  --power4-ease-out: cubic-bezier(0.25, 0.5, 0.5, 1);
  --power4-ease-in-out: cubic-bezier(0.76, 0, 0.24, 1);
}

:root {
  --transition-alpha: var(--speed-fast) var(--power1-ease-out);
}

:root {
  --speed-faster: 0.1s;
  --speed-fast: 0.3s;
  --speed-normal: 0.5s;
  --speed-slow: 0.8s;
  --speed-slower: 1s;
}

:root {
  --color-primary: #000000;
  --color-secondary: #666666;
}

body {
  color: var(--color-primary);
  background: var(--color-secondary);
}

::selection {
  color: var(--color-primary);
  background: var(--color-secondary);
}

:root {
  --radius-xs: 0.25rem;
  --radius-s: 0.5rem;
  --radius-m: 1rem;
  --radius-l: 1.5rem;
  --radius-xl: 2rem;
  --radius-2xl: 3rem;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/
* {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -ms-text-size-adjust: 100%; /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%; /* 1 */
  margin: 0; /* 2 */
  vertical-align: baseline; /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type=search] {
  -webkit-appearance: textfield; /* 1 */
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto; /* 1 */
  vertical-align: top; /* 2 */
}

/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  display: block;
  max-width: 100%;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

:root {
  --space-3xs: clamp(0.31rem, calc(0.31rem + 0vw), 0.31rem);
  --space-2xs: clamp(0.56rem, calc(0.55rem + 0.07vw), 0.63rem);
  --space-xs: clamp(0.88rem, calc(0.86rem + 0.07vw), 0.94rem);
  --space-s: clamp(1.13rem, calc(1.1rem + 0.14vw), 1.25rem);
  --space-m: clamp(1.69rem, calc(1.64rem + 0.21vw), 1.88rem);
  --space-l: clamp(2.25rem, calc(2.19rem + 0.28vw), 2.5rem);
  --space-xl: clamp(3.38rem, calc(3.29rem + 0.43vw), 3.75rem);
  --space-2xl: clamp(4.5rem, calc(4.39rem + 0.57vw), 5rem);
  --space-3xl: clamp(6.75rem, calc(6.58rem + 0.85vw), 7.5rem);
  --space-4xl: clamp(11.25rem, calc(10.97rem + 1.42vw), 12.5rem);
  --space-5xl: clamp(13.5rem, calc(13.16rem + 1.7vw), 15rem);
}

/* @link https://utopia.fyi/type/calculator?c=320,18,1.125,1240,18,1.333,6,1,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
:root {
  --size--1: clamp(0.844rem, 1.0543rem + -0.2714vw, 1rem);
  --size-0: clamp(1.125rem, 1.225rem + 0vw, 1.25rem);
  --size-1: clamp(1.2656rem, 1.1842rem + 0.407vw, 1.4996rem);
  --size-2: clamp(1.4238rem, 1.2238rem + 1.0003vw, 1.999rem);
  --size-3: clamp(1.6018rem, 1.2321rem + 1.8485vw, 2.6647rem);
  --size-4: clamp(1.802rem, 1.1933rem + 3.0434vw, 3.552rem);
  --size-5: clamp(2.0273rem, 1.0855rem + 4.7087vw, 4.7348rem);
  --size-6: clamp(2.2807rem, 0.8787rem + 7.0101vw, 8.0115rem);
}

:root {
  --weight-light: 300;
  --weight-normal: 400;
  --weight-medium: 500;
  --weight-semibold: 600;
  --weight-bold: 700;
}

html,
body,
h1 {
  margin: 0;
  padding: 0;
}

body {
  background: black;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/*# sourceMappingURL=main.css.map */
