/* Error: no such file or directory
 *   ,
 * 1 | @use "1-foundations" as *;
 *   | ^^^^^^^^^^^^^^^^^^^^^^^^^
 *   '
 *   src/scss/main.scss 1:1  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: no such file or directory\a   \2577 \a 1 \2502  @use "1-foundations" as *;\a   \2502  ^^^^^^^^^^^^^^^^^^^^^^^^^\a   \2575 \a   src/scss/main.scss 1:1  root stylesheet';
}
