// ==========================================================================
// Foundations / Spacings
// ==========================================================================

:root {
  --space-3xs: clamp(0.31rem, calc(0.31rem + 0vw), 0.31rem);
  --space-2xs: clamp(0.56rem, calc(0.55rem + 0.07vw), 0.63rem);
  --space-xs: clamp(0.88rem, calc(0.86rem + 0.07vw), 0.94rem);
  --space-s: clamp(1.13rem, calc(1.1rem + 0.14vw), 1.25rem);
  --space-m: clamp(1.69rem, calc(1.64rem + 0.21vw), 1.88rem);
  --space-l: clamp(2.25rem, calc(2.19rem + 0.28vw), 2.5rem);
  --space-xl: clamp(3.38rem, calc(3.29rem + 0.43vw), 3.75rem);
  --space-2xl: clamp(4.5rem, calc(4.39rem + 0.57vw), 5rem);
  --space-3xl: clamp(6.75rem, calc(6.58rem + 0.85vw), 7.5rem);
  --space-4xl: clamp(11.25rem, calc(10.97rem + 1.42vw), 12.5rem);
  --space-5xl: clamp(13.5rem, calc(13.16rem + 1.7vw), 15rem);
}

$spaces: (
  "0": 0,
  "3xs": var(--space-3xs),
  "2xs": var(--space-2xs),
  "xs": var(--space-xs),
  "s": var(--space-s),
  "m": var(--space-m),
  "l": var(--space-l),
  "xl": var(--space-xl),
  "2xl": var(--space-2xl),
  "3xl": var(--space-3xl),
  "4xl": var(--space-4xl),
  "5xl": var(--space-5xl),
);
