@use "../1-variables/" as *;
@use "../2-tools" as *;

// ==================================================================
// Utilities / Demo
// ==================================================================

body.demo {
  background: black;

  .section {
    position: relative;
    background: rgba(96, 96, 96, 0.125);
    outline: 1px dashed rgba(255, 255, 255, 0.25);
    &::before {
      content: "S";
      position: absolute;
      inset: 8px auto auto 8px;
      font-size: 11px;
      text-transform: uppercase;
      opacity: 0.5;
    }
  }
  .grid {
    position: relative;
    background: rgba(96, 96, 96, 0.125);
    outline: 1px dashed rgba(255, 255, 255, 0.25);
    &::before {
      content: "G";
      position: absolute;
      inset: 8px auto auto 8px;
      font-size: 11px;
      text-transform: uppercase;
      opacity: 0.5;
    }
  }
  .col {
    position: relative;
    background: rgba(96, 96, 96, 0.33);
    outline: 1px dashed rgba(255, 255, 255, 0.5);
    min-height: var(--space-lg);
    &::before {
      content: "C";
      position: absolute;
      inset: 8px auto auto 8px;
      font-size: 11px;
      text-transform: uppercase;
      opacity: 0.5;
    }
  }

  .header {
    display: flex;
    justify-content: space-between;
    margin: var(--space-2xs);
  }
}


.demo-grid {
  position: absolute!important;
  inset: 0 0 0 0!important;
  display: none;

  &.--show {
    display: grid!important;
  }
}

.demo-grid .col {
  height: 100vh;
  background: rgba(255, 0, 0, 0.15)!important;
  outline: 0!important;
}

.demo-grid .col,
.demo-grid .grid,
.demo-grid.section {
  pointer-events: none!important;
  &::before {
    content: ""!important;
  }
}
