@use "../1-variables/" as *;
@use "../2-tools" as *;

// ==================================================================
// Utilities / Margin
// ==================================================================

.mt-0 {
  margin-top: 0;
}

.mb-0 {
  margin-bottom: 0;
}

@each $name, $value in $spaces {
  .mt-#{$name} {
    margin-top: $value;
  }

  .mb-#{$name} {
    margin-bottom: $value;
  }

  .my-#{$name} {
    margin-top: $value;
    margin-bottom: $value;
  }
}
