@use "../1-variables/" as *;
@use "../2-tools" as *;

// ==================================================================
// Utilities / Margin
// ==================================================================

// ==================================================================
// Utilities / Margin / Spacings
/*  These variables simply refer to the CSS variables in the config file.
    If you want to add more spacing values, add them here and in
    the CSS variables (../1-variables/_config.scss). */
// ==================================================================

$spacings: (
  "0": 0,
  "3xs": var(--space-3xs),
  "2xs": var(--space-2xs),
  "xs": var(--space-xs),
  "s": var(--space-s),
  "m": var(--space-m),
  "l": var(--space-l),
  "xl": var(--space-xl),
  "2xl": var(--space-2xl),
  "3xl": var(--space-3xl),
  "4xl": var(--space-4xl),
);

// ==================================================================
// Mixin for margin utilities
// ==================================================================

@mixin generate-margins($prefix, $min-width) {
  @media (min-width: $min-width) {
    @each $name, $value in $spacings {
      .#{$prefix}\:mt-#{$name} {
        margin-top: $value;
      }

      .#{$prefix}\:mb-#{$name} {
        margin-bottom: $value;
      }

      .#{$prefix}\:my-#{$name} {
        margin-top: $value;
        margin-bottom: $value;
      }
    }
  }
}

// ==================================================================
// Loop through breakpoints map to generate margin classes
// ==================================================================

@each $prefix, $min-width in $breakpoints {
  @include generate-margins($prefix, $min-width);
}