// ==================================================================
// Tools / Breakpoints
// ==================================================================

/*

This tool provides mixins to handle media queries in a more efficient way.

// ==================================================================
// Usage
// ==================================================================

// ------------------------------------------------------------------
// min-width breakpoint
// ------------------------------------------------------------------
// Styles will be applied from 1024px and up
// ------------------------------------------------------------------

@include bp('md') {
  background: red;
}

// ------------------------------------------------------------------
// max-width breakpoint
// ------------------------------------------------------------------
// Styles will be applied up to 1024px
// ------------------------------------------------------------------

@include maxbp('md') {
  background: red;
}

// ------------------------------------------------------------------
// min-width to max-width breakpoint
// ------------------------------------------------------------------
// Styles will be applied from 768px to 1280px
// ------------------------------------------------------------------

@include minmaxbp('sm', 'lg') {
  background: red;
}

*/

// ==================================================================
// Breakpoints
// ==================================================================

/*
    If you want to change the values of the breakpoints, please
    change them in the variables below and in the
    custom properties in 1-variables/_config.scss.
    Make sure that the values are always identical to avoid conflicts.
*/

$breakpoints: (
  "df": 0px,
  "xs": 640px,
  "s": 768px,
  "m": 1024px,
  "l": 1280px,
  "xl": 1536px,
  "xxl": 1800px,
  "xxxl": 2400px,
);

// ==================================================================
// Helper Mixin to handle the media query logic
// ==================================================================

@mixin _bp($breakpoint, $type) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (#{$type}-width: #{map-get($breakpoints, $breakpoint)}) {
      @content;
    }
  } @else {
    @error "Invalid breakpoint '#{$breakpoint}'. Available options are: #{map-keys($breakpoints)}.";
  }
}

// ==================================================================
// Mixin for min-width breakpoints
// ==================================================================

@mixin bp($breakpoint) {
  @include _bp($breakpoint, min) {
    @content;
  }
}

// ==================================================================
// Mixin for max-width breakpoints
// ==================================================================

@mixin maxbp($breakpoint) {
  @include _bp($breakpoint, max) {
    @content;
  }
}

// ==================================================================
// Mixin for a range of min-width to max-width breakpoints
// ==================================================================

@mixin minmaxbp($min-breakpoint, $max-breakpoint) {
  @if map-has-key($breakpoints, $min-breakpoint) and
    map-has-key($breakpoints, $max-breakpoint)
  {
    @media (min-width: #{map-get($breakpoints, $min-breakpoint)}) and (max-width: #{map-get($breakpoints, $max-breakpoint)}) {
      @content;
    }
  } @else {
    @error "Invalid breakpoints '#{$min-breakpoint}' or '#{$max-breakpoint}'. Available options are: #{map-keys($breakpoints)}.";
  }
}
