@use "../1-variables/" as *;
@use "responsive" as *;

// ==================================================================
// Layout / Default Page Padding
// ==================================================================

@mixin default-page-padding {
  max-width: 98vw;

  @include bp(md) {
    max-width: 80vw;
  }

  @include bp(lg) {
    max-width: 85vw;
  }

  @include bp(xl) {
    max-width: 85vw;
  }
}

// ==================================================================
// Layout / Big Page Padding
// ==================================================================

@mixin big-page-padding {
  max-width: 98vw;

  @include bp(md) {
    max-width: 70vw;
  }

  @include bp(lg) {
    max-width: 70vw;
  }

  @include bp(xl) {
    max-width: 50vw;
  }
}

[data-align="right"],
[data-align="right"] .container {
  margin-right: 0px !important;
  padding-right: 0px !important;
}

[data-align="left"],
[data-align="left"] .container {
  margin-left: 0px !important;
  padding-left: 0px !important;
}
