@use "../1-variables/" as *;
@use "../2-tools" as *;

// ==================================================================
// Layout / Block
// ==================================================================

.col {
  grid-column: span 12;
}

// ==================================================================
// Block / Default Offset and Area Behavior
// ==================================================================
[data-offset] {
  display: none;
}

// ==================================================================
// Block / Mixin for column and offset classes
// ==================================================================
@mixin generate-grid($prefix, $min-width) {
  @media (min-width: $min-width) {
    // Handle column spans
    @for $i from 1 through 12 {
      [data-span*="#{$prefix}\:#{$i}"] {
        grid-column: span #{$i} / span #{$i};
      }
    }

    // Handle offsets
    @for $i from 0 through 12 {
      [data-offset*="#{$prefix}\:#{$i}"] {
        grid-column: span #{$i} / span #{$i};
        display: block;
      }
    }

    [data-offset*="#{$prefix}0"] {
      display: none;
    }

    // Handle start-end columns for data-area
    @for $start from 1 through 12 {
      @for $end from ($start + 1) through 13 {
        // If the end column is 12, we set it to 13 to include the entire width
        $end-grid-value: if($end == 13, 13, $end);

        [data-area*="#{$prefix}\\:#{$start}-#{$end - 1}"] {
          grid-column: #{$start} / #{$end-grid-value};
          display: block;
        }
      }
    }
  }
}

// ==================================================================
// Block / Loop through breakpoints map to generate grid and offset classes
// ==================================================================
@each $prefix, $min-width in $breakpoints {
  @include generate-grid($prefix, $min-width);
}
