@use "../1-variables/" as *;
@use "../2-tools" as *;

// ==================================================================
// Layout / Container
// ==================================================================

/*

// ==================================================================
// Usage
// ==================================================================

// ------------------------------------------------------------------
// Container Default
// ------------------------------------------------------------------

<section class="section">
  <div class="container">
    <div class="col">…</div>
  </div>
</section>

// ------------------------------------------------------------------
// Container Small
// ------------------------------------------------------------------

<section class="section">
  <div class="container --small">
    <div class="col">…</div>
  </div>
</section>

// ------------------------------------------------------------------
// Container Full
// ------------------------------------------------------------------

<section class="section">
  <div class="container --full">
    <div class="col">…</div>
  </div>
</section>

// ------------------------------------------------------------------
// Container Align Right
// ------------------------------------------------------------------

<section class="section">
  <div class="container --align-right">
    <div class="col">…</div>
  </div>
</section>

// ------------------------------------------------------------------
// Container Align Left
// ------------------------------------------------------------------

<section class="section">
  <div class="container --align-left">
    <div class="col">…</div>
  </div>
</section>

// ------------------------------------------------------------------
// Container Auto (equal columns)
// ------------------------------------------------------------------

<section class="section">
  <div class="container --auto">
    <div class="col">…</div>
  </div>
</section>

*/

.container {
  display: grid;
  column-gap: var(--default-column-gap);
  row-gap: var(--default-row-gap);
  grid-template-columns: repeat(var(--default-columns), 1fr);
  margin-left: var(--default-page-padding);
  margin-right: var(--default-page-padding);

  &.--auto {
    // equal columns
    grid-auto-columns: minmax(0, 1fr);
    grid-auto-flow: column;
  }

  &.--align-right {
    margin-right: 0;
  }

  &.--align-left {
    margin-left: 0;
  }

  &.--small {
    margin-left: var(--big-page-padding);
    margin-right: var(--big-page-padding);

    @include bp(sm) {
      margin-left: var(--sm-big-page-padding);
      margin-right: var(--sm-big-page-padding);
    }

    @include bp(md) {
      margin-left: var(--md-big-page-padding);
      margin-right: var(--md-big-page-padding);
    }

    @include bp(lg) {
      margin-left: var(--lg-big-page-padding);
      margin-right: var(--lg-big-page-padding);
    }

    @include bp(xl) {
      margin-left: var(--xl-big-page-padding);
      margin-right: var(--xl-big-page-padding);
    }

    @include bp(xxl) {
      margin-left: var(--xxl-big-page-padding);
      margin-right: var(--xxl-big-page-padding);
    }
  }

  &.--full {
    margin-left: 0;
    margin-right: 0;
  }
}

// ==================================================================
// Layout / Default Alignment
// ==================================================================

[data-align] {
  align-items: stretch; // Default to stretch or any other default behavior
}

// ==================================================================
// Mixin for alignment options
// ==================================================================
@mixin generate-alignment($prefix, $min-width) {
  @media (min-width: $min-width) {
    [data-align*="#{$prefix}\:start"] {
      align-items: start;
    }
    [data-align*="#{$prefix}\:center"] {
      align-items: center;
    }
    [data-align*="#{$prefix}\:end"] {
      align-items: end;
    }
  }
}

// ==================================================================
// Block / Loop through breakpoints map to generate grid, offset, and alignment classes
// ==================================================================
@each $prefix, $min-width in $breakpoints {
  @include generate-alignment($prefix, $min-width);
}
