@use "../1-variables/" as *;
@use "../2-tools" as *;

// ==================================================================
// Utilities / Subgrid
// ==================================================================

/*

// ==================================================================
// Usage
// ==================================================================

// ------------------------------------------------------------------
// Create a subgrid (inherit grid from parent) for all breakpoints
// ------------------------------------------------------------------

<section class="section">
  <div class="container">
    <div class="c-my-component | subgrid">
      <div class="col md:4">…</div>
      <div class="col md:4">…</div>
      <div class="col md:4">…</div>
    </div>
  </div>
</section>

// ------------------------------------------------------------------
// Create a subgrid at and above md breakpoint
// ------------------------------------------------------------------

<section class="section">
  <div class="container">
    <div class="c-my-component | md:subgrid">
      <div class="col md:4">…</div>
      <div class="col md:4">…</div>
      <div class="col md:4">…</div>
    </div>
  </div>
</section>


// ------------------------------------------------------------------
// Inherit the subgrid more than once I
// ------------------------------------------------------------------

<section class="section">
  <div class="container">
    <div class="c-my-component | md:subgrid">
      <div class="col md:6 md:subgrid / lg:8">
        <div class="col md:2-4 / lg:3-5">…</div>
      </div>
      <div class="col md:6">…</div>
    </div>
  </div>
</section>

// ------------------------------------------------------------------
// Inherit the subgrid more than once II
// ------------------------------------------------------------------

<section class="section">
  <div class="container">
    <div class="col subgrid df:1-6 / md:3-10 / lg:6-11">
      <div class="col subgrid df:1-3 / md:4-7 / lg:2-3">
        <div class="col subgrid df:2-3">
          <div class="col df:1"></div>
        </div>
      </div>
    </div>
  </div>
</section>

*/

@mixin subgrid {
  display: grid !important;
  gap: inherit !important;
  grid-template-columns: subgrid;
}

.subgrid {
  @include bp(df) {
    @include subgrid;
  }
}

.sm\:subgrid {
  @include bp(sm) {
    @include subgrid;
  }
}

.md\:subgrid {
  @include bp(md) {
    @include subgrid;
  }
}

.lg\:subgrid {
  @include bp(lg) {
    @include subgrid;
  }
}

.xl\:subgrid {
  @include bp(xl) {
    @include subgrid;
  }
}

.xxl\:subgrid {
  @include bp(xxl) {
    @include subgrid;
  }
}

.xxl\:subgrid {
  @include bp(xxl) {
    @include subgrid;
  }
}
